{{/* Override this file to add a custom footer to every page. */}}
{{/* This partial is included in `layouts/partials/site_footer.html`. */}}


{{ $zsParams := site.Params.zs_params }}
{{ if $zsParams.footer }}
<div class="zs-footer">
  {{ range $section := $zsParams.footer }}
  <div>
    <div class="zs-footer-section">
      <h3>{{i18n $section.title | default $section.title}}</h3>
      <ul>
        {{ range $label, $url := $section.items }}
        <li>
          <a href="{{$url | relLangURL}}" target="_blank">{{ i18n $label | default $label }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
